body, html {
    height: 100%;
  }
  .bg {
    /* The image used */
    background-image: url("../images/Calm-Desktop-Wallpaper.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.footer {
      bottom: 0;
      width: 100%;
      position: absolute;
      background-color: black;
      text-align: center;
      weight: bold;
      color: gray;
    }